[*.cs]

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = suggestion
[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = suggestion
